@import url('https://fonts.googleapis.com/css2?family=Abel&family=Alan+Sans:wght@300..900&family=Archivo+Black&family=Asimovian&family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Story+Script&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("small_screen.css");

:root {
  --primary-color: rgb(0, 119, 255);
  --primary-font-family: "Ubuntu", sans-serif;
  --secondary-bg-color: #fdf6f7;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font-family);
}

/* ~~~~~ HEADER AND NAV ~~~~~ */

.navbar__div {
  background-color: #3b3a3a;
  display: flex;
  color: #ffffff;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem 0 2rem;

  ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
  }

  img {
    display: none;
    height: 20px;
  }
}

header {
  background-image: url("../images/internet_img.jpg");
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* text-align: center;
  align-content: center; */
  h1 {
    margin: 0;
    width: 50%;
    text-align: center;
  }

  p {
    opacity: .5;
  }
}

/* ~~~~~ BUTTONS ~~~~~~ */

button {
  padding: 10px;
  border-radius: 3px;
  margin: 0 10px 0 10px;

  a {
    text-decoration: none;
  }
}

.button--non-transparent {
  background-color: var(--primary-color);
  border: none;

  a {
    color: #ffffff;
  }
}

.button--transparent-white {
  background-color: rgb(255, 255, 255, .0);
  border: 1px solid #fff;

  a {
    color: #ffffff;
  }
}

.button--transparent-blue {
  background-color: rgb(255, 255, 255, .0);
  border: 1px solid var(--primary-color);
  color: var;

  a {
    color: var(--primary-color)
  }
}

header button {
  width: 100px;
}



/* ~~~~~ FEATURES SECTION ~~~~~~ */

.features__section {
  margin: 30px 20px 20px 20px;
  display: flex;
  gap: 30px;
}

.features__section-div div {
  height: 50px;
  width: 50px;
  border-radius: 5px;

  img {
    object-fit: fill;
    height: 100%;
  }
}


/* ~~~~~ PRICING SECTION ~~~~~~ */

.pricing__section {
  background-color: var(--secondary-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;

  h2,
  p {
    padding: 3px;
    margin: 0;
  }
}

.cards__container {
  display: flex;
  margin-top: 20px;
  gap: 30px;
}

.free-plan__wrapper,
.pro-plan__wrapper {
  background-color: #fff;
  padding: 20px;

  >:nth-child(2) {
    font-size: 2.5rem;
    font-weight: 500;
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
  }

  button {
    width: 100%;
    margin: 0;
  }
}

.free-plan__wrapper {
  p {
    color: #808080;
    font-weight: 500;
  }

  ul li:nth-child(n+4) {
    color: #808080;
  }

  ul li:nth-child(n+4)::before {
    content: "";
    background-image: url("../images/unchecked.png");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    display: inline-block;
  }
    ul li:nth-child(-n+3)::before {
    content: "";
    background-image: url("../images/check.png");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    display: inline-block;
  }

}



.pro-plan__wrapper {
  p {
    font-weight: 500;
  }

  p::before {
    content: "â­";
  }

  ul li::before {
    content: "";
    background-image: url("../images/check.png");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    display: inline-block;
  }
}

/* ~~~~~ TESTIMONIALS SECTION ~~~~~~ */

.testimonials__section {
  display: flex;
  flex-direction: column;
  width: 50%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  align-items: center;
  padding: 50px;
  h2  {
    margin: 0;
  }
  >p {
    color: #808080;
    margin: 0 0 30px 0;
    padding: 0;
  }
}

.testimonials__div>div {
  border: 1px solid #e6e2e2;
  width: 100%;
  margin: 20px 0 20px 0;
  padding: 10px 10px 10px 60px;
  border-radius: 3px;
  position: relative;
  p::before {
    content: "";
    background-image: url("../images/icon_question_mark.png");
    background-repeat: no-repeat;
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 25px
  }
}

/* ~~~~~ CONTACT SECTION ~~~~~~ */

.contact__section {
  background-color: var(--secondary-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  padding: 50px 0 50px 0;
  h2 {
    margin: 0;
  }

  >p  {
    margin: 0;
    color: #808080;
  }
  >div {
    height: 40px;
    img {
      height: 100%;
      object-fit: cover;
    }
  }
}

.contact__section form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 42%;
  margin-top: 20px;
  gap: 10px;

  input {
    height: 35px;
    border: 1px solid #e6e2e2;
  }

  textarea {
    height: 100px;
    border: 1px solid #e6e2e2;
  }
  input, textarea::placeholder {
  font-family: var(--primary-font-family); 
  } 
}


#submitButton {
  color: white;
  margin: 0;
}


/* ~~~~~ FOOTER ~~~~~~ */

footer {
  background-color: #3b3a3a;
  color: #fff;
  text-align: center;
  padding: 25px;
  p { 
    margin: 0; 
  }
  
}

