@import url('https://fonts.googleapis.com/css2?family=Abel&family=Alan+Sans:wght@300..900&family=Archivo+Black&family=Asimovian&family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Story+Script&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

:root {
  --primary-color: rgb(0, 119, 255);
  --primary-font-family: "Ubuntu", sans-serif;
  --secondary-bg-color: #fdf6f7;
  --header-footer-color: rgb(43, 39, 39);
  --primary-padding-sides: 0px 50px 0px 50px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font-family);
}

.main__container {
  margin: auto;
  width: 90vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, auto);
}


/* ~~~~~ HEADER AND NAV ~~~~~ */


header {
  grid-area: 1 / 1 / 3 / 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);

  .header__div--one {
    display: flex;
    padding: var(--primary-padding-sides);
    color: white;
    justify-content: space-between;
    background-color: var(--header-footer-color);

    ul {
      display: flex;
      list-style-type: none;
      gap: 20px;

      li a {
        text-decoration: none;
        color: #fff;
      }
    }
  }

  .header__div--two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    background-image: url(../images/internet_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-items: center;
    text-align: center;
    padding: 75px 0 75px 0;
    color: #fff;

    h1 {
      grid-area: 1 / 1 / 2 / 3;
      width: 30%;
      margin: 0;
    }

    p {
      grid-area: 2 / 1 / 3 / 3;
      width: 30%;
    }

    .header__buttons {
      grid-area: 3 / 1 / 4 / 3;
      width: 30%;
    }
  }
}


/* ~~~~~ BUTTONS ~~~~~~ */

button {
  padding: 10px;
  border-radius: 3px;
  margin: 0 10px 0 10px;

  a {
    text-decoration: none;
  }
}

.button--non-transparent {
  background-color: var(--primary-color);
  border: none;

  a {
    color: #ffffff;
  }
}

.button--transparent-white {
  background-color: rgb(255, 255, 255, .0);
  border: 1px solid #fff;

  a {
    color: #ffffff;
  }
}

.button--transparent-blue {
  background-color: rgb(255, 255, 255, .0);
  border: 1px solid var(--primary-color);
  color: var;

  a {
    color: var(--primary-color)
  }
}

header button {
  width: 100px;
}

/* ~~~~~ FEATURES SECTION ~~~~~~ */

.features__section {
  grid-area: 3 / 1 / 4 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 30px 50px 30px 50px;
  column-gap: 20px;

  div div img {
    width: 50px;
  }
}

/* ~~~~~ PRICING SECTION ~~~~~~ */

.pricing__section {
  grid-area: 4 / 1 / 5 / 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  background-color: var(--secondary-bg-color);
  text-align: center;
  padding: 50px 0 50px 0;

  h2,
  p {
    margin: 5px;

  }

  .cards__container {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 50px;
    text-align: start;
  }

  .free-plan__wrapper,
  .pro-plan__wrapper {
    background-color: #fff;
    padding: 20px 20px 20px 50px;

    >:nth-child(2) {
      font-size: 2.5rem;
      font-weight: 500;
    }

    ul {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      gap: 10px;
      padding: 0;
    }

    button {
      width: 100%;
      margin: 0;
    }
  }

  .free-plan__wrapper {
    p {
      color: #808080;
      font-weight: 500;
    }

    ul li:nth-child(n+4) {
      color: #808080;
    }

    ul li:nth-child(n+4)::before {
      content: "";
      background-image: url("../images/unchecked.png");
      background-repeat: no-repeat;
      background-size: 20px 20px;
      width: 20px;
      height: 20px;
      display: inline-block;
    }

    ul li:nth-child(-n+3)::before {
      content: "";
      background-image: url("../images/check.png");
      background-repeat: no-repeat;
      background-size: 20px 20px;
      width: 20px;
      height: 20px;
      display: inline-block;
    }

  }

  .pro-plan__wrapper {
    p {
      font-weight: 500;
    }

    p::before {
      content: "â­";
    }

    ul li::before {
      content: "";
      background-image: url("../images/check.png");
      background-repeat: no-repeat;
      background-size: 20px 20px;
      width: 20px;
      height: 20px;
      display: inline-block;
    }
  }

}

/* ~~~~~ TESTIMONIALS SECTION ~~~~~~ */

.testimonials__section {
  grid-area: 5 / 1 / 6 / 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  text-align: center;
  justify-items: center;

  >h2,
  >p {
    width: 50%;
  }
}

.testimonials__div {
  width: 50%;
  text-align: start;
}

.testimonials__div>div {
  border: 1px solid #e6e2e2;
  flex-basis: 30%;
  margin: 20px 0 20px 0;
  padding: 10px 10px 10px 60px;
  border-radius: 3px;
  position: relative;

  p::before {
    content: "";
    background-image: url("../images/icon_question_mark.png");
    background-repeat: no-repeat;
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 25px
  }
}

/* ~~~~~ CONTACT SECTION ~~~~~~ */

.contact__section {
  grid-area: 6 / 1 / 7 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  background-color: var(--secondary-bg-color);

  >img {
    height: 40px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 42%;
    margin-top: 20px;
    gap: 10px;

    input {
      height: 35px;
      border: 1px solid #e6e2e2;
    }

    textarea {
      height: 100px;
      border: 1px solid #e6e2e2;
    }

    input,
    textarea::placeholder {
      font-family: var(--primary-font-family);
    }

    button {
      color: #fff;
    }
  }
}

/* ~~~~~ FOOTER ~~~~~~ */

footer {
  grid-area: 7 / 1 / 8 / 3;
  background-color: var(--header-footer-color);
  color: #fff;
  text-align: center;
}